@model IEnumerable<ProductDto>
<style>
    /* Estilo personalizado para las tarjetas */
    .fixed-image {
        width: 100%;
        height: 200px; /* Ajusta la altura según tus necesidades */
        object-fit: cover; /* Para ajustar la imagen en caso de que tenga diferentes dimensiones */
    }

    hr {
        border-top: 5px solid black; /* Cambiamos el color a negro */
    }

    /* Estilo de borde personalizado */
    .custom-border {
        border: 2px solid transparent; /* Agregamos un borde transparente */
        box-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Establecemos el color blanco (rgba(255, 255, 255, 1)) */
    }
</style>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card h-100 custom-border rounded">
                    <!-- Aplicamos el estilo de borde personalizado -->
                    <img src="@item.ImageUrl" class="card-img-top fixed-image">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title" style="font-size: 20px;">@item.Name</h5>
                            <h4 class="text-danger" style="font-size: 20px;">@string.Format("{0:c}", item.Precio)</h4>
                        </div>
                        <hr />
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text text-dark-50">@item.Autor</p>
                            <span class="rounded-bottom-circle  bg-warning text-white p-1" style="font-size: 20px;">@item.CategoriaName</span>
                        </div>

                        <a asp-action="ProductDetalle" asp-route-productId="@item.ProductId" class="btn btn-outline-info mt-3 w-100">Detalle</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
